<div class="container py-5" style="margin-top: -100px;">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增餐廳 <i class="fas fa-utensils"></i></h5>
          <hr>
          <form method="POST" action="/restaurant">

            <div class="row g-2 mb-3">
              <label for="name" class="col-md-4 col-form-label">
                餐廳名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" placeholder="請輸入餐廳的名稱" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="name_en" class="col-md-4 col-form-label">
                餐廳名稱(英文)
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" id="name_en" placeholder="請輸入餐廳的英文名稱(非必要)">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="category" class="col-md-4 col-form-label">
                類型
              </label>
              <div class="col-md-8">
                <input list="category-options" class="form-control" name="category" id="category" placeholder="請輸入餐廳的料理類型">
                <datalist id="category-options">
                  <option>中東</option>
                  <option>日式</option>
                  <option>義式</option>
                  <option>美式</option>
                  <option>酒吧</option>
                  <option>咖啡</option>
                </datalist>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="image" class="col-md-4 col-form-label">
                餐廳圖片(連結)
              </label>
              <div class="col-md-8">
                <input type="url" name="image" class="form-control" id="image" placeholder="請輸入餐廳的圖片連結">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="location" class="col-md-4 col-form-label">
                餐廳地址
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" placeholder="請輸入餐廳的地址">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="phone" class="col-md-4 col-form-label">
                電話號碼
              </label>
              <div class="col-md-8">
                <input type="tel" name="phone" class="form-control" id="phone" placeholder="09xx-xxx-xxx" maxlength="10">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="google_map" class="col-md-4 col-form-label">
                Google map網址
              </label>
              <div class="col-md-8">
                <input type="url" name="google_map" class="form-control" id="google_map" placeholder="請輸入餐廳的 Google map 網址">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="rating" class="col-md-4 col-form-label">
                餐廳評分
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" placeholder="請輸入餐廳的評分" min="1" max="5">
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="description" class="col-md-4 col-form-label">
                餐廳介紹
              </label>
              <div class="col-md-8">
                <textarea name="description" class="form-control" id="description" placeholder="請輸入餐廳簡介" rows="3"></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-secondary" type="submit">完成</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>