<div class="row" style="margin-top: -60px;">
  <div class="col-md-4 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">註冊</h1>
      {{> message}}
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">用戶名稱</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" value="{{ name }}">
        </div>
        <div class="form-group mt-2">
          <label for="email">電子郵件</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
            value="{{ email }}">
        </div>
        <div class="form-group mt-2">
          <label for="password">密碼</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
            value="{{ password }}">
        </div>
        <div class="form-group mt-2">
          <label for="confirmPassword">確認密碼</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="Confirm Password" value="{{ confirmPassword }}">
        </div>
        <button type="submit" class="btn btn-secondary btn-block mt-3 container-fluid">註冊</button>
        <a href="/auth/facebook" class="btn btn-primary btn-block mt-3 container-fluid">Facebook登入</a>
      </form>
      <p class="lead mt-4">
        已經有帳號了? <a href="/users/login">登入</a>
      </p>
    </div>
  </div>
</div>